node_modules
# Keep environment variables out of version control
.env
/dist
/src/generated/prisma
/manquantes_geocodees.json
/src/utils/geocoder.js
/src/utils/geocoder.ts
/src/utils/google_geocoder.ts
/manquantes_geocodees.json
/src/utils/pharmacie.json
/src/utils/pharmacie_bobo.json
